{% load home_tags cache compress static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load crispy_forms_tags %}

<div class="footercustom">
<div class="footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-4">
          <address>
            <h5>Imperial School of Anaesthesia</h5><br>
            <div class="copyright">
            Hammersmith Hospital<br>
            Du Cane Road<br>
            London. <abbr title="Phone">P:</abbr> 0044 - 12345678<br>
            <a href="mailto:#">isa@donotreply.com</a> |
          </div>
          </address>
        </div>
        <div class="col-md-4">
          <h5>News and Events</h5>
          {% adverts %}
        </div>
        <div class="col-md-4">
          <h5>We are Social</h5>
          <ul class="list-inline">
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i></span>
            </a>
          </ul>
        </div>
      </div>
      <p class="copyright">&copy; 2016 Nescode Technologies Pvt Ltd. All right reserved.</p>
    </footer>
  </div>
</div>
</div>
